<div id="doit-topbar" class="row">
    <div class="col-md-2 col-xs-2">
        <h1 class="doit-brand">F><</h1>
    </div>
    <div class="col-md-2 col-xs-3">
        <div class="doit-controls-top">
             <span class="label label-default">{{ userLevel }}</span>
            <img ng-src="{{ user.picture }}" alt="{{ user.display_name }}" height="17px" width="17px"> <small>{{ user.display_name }}</small>
            <progressbar max="100" value="userLevelProgressPercent" tooltip="{{ userXpTilLevelUp }} XP from level {{ userLevel + 1}}" tooltip-placement="bottom" style="height: 4px; margin-top:1px;"><span style="color:black; white-space:nowrap;"></span></progressbar>
        </div>
    </div>
    <div class="col-md-4 col-xs-3">
        <div class="doit-controls-top">
            <input type="text" class="form-control" placeholder="Filter this page" ng-model="todoSearch"/>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="doit-controls-top pull-right">
            <div class="btn-group">
                <button ng-click="archiveTodos()" type="button" class="btn btn-default" tooltip-placement="left" tooltip="Archive Complete">
                    <span class="fa fa-archive"></span>
                </button>
                <button type="button" class="btn btn-default" ui-sref="stats">
                    <span class="fa fa-line-chart"></span>
                </button>
                <button class="btn btn-default" ui-sref="logout">
                    <span class="fa fa-power-off"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="addTodo()">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <tags-input ng-model="editor.todo.tags" type="text" id="inputTag" placeholder="Tags" ng-required="false">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input ng-model="editor.todo.text" type="text" class="form-control" id="inputText" placeholder="Task" ng-required="true">
                        </div>
                    </div>
                    <div collapse="!editor.isExpanded">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup ng-model="editor.todo.due" is-open="editor.dpIsOpen" placeholder="Due Date" ng-required="false"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="editor.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control" rows="3" ng-model="editor.todo.note" placeholder="Notes" ng-required="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button ng-show="!editor.new" ng-click="cancelEditTask()" type="button" class="btn btn-danger"><span class="fa fa-arrow-left"></span></button>
                        <button type="submit" class="btn btn-default"><span class="fa fa-plus"></span></button>
                    </div>
                </form>
                    <div class="pull-left">
                        <button class="btn btn-default" ng-click="editor.isExpanded = !editor.isExpanded">
                            <span class="fa" ng-class="editor.isExpanded ? 'fa-compress' : 'fa-expand'"></span>
                        </button>
                    </div>
            </div>
        </div>

        <!-- Tags pane -->
        <div class="list-group">
            <a href="#/home/" class="list-group-item" ng-class="selectedTag == '' ? 'active' : ''">
                <i class="fa fa-tags"></i> Show All
            </a>
            <a ng-href="#/home/{{ tag.text }}" class="list-group-item"
               ng-repeat="tag in tags | filter:{ text: todoSearch }"
               ng-click="filterTodos(tag.text)"
               ng-class="tag.text == selectedTag ? 'active' : ''">
                <span class="fa fa-tag"></span> <span ng-bind-html="tag.text | highlight:todoSearch"></span>
            </a>
        </div>
        <!-- End of Tags pane -->

    </div>

    <div class="col-sm-8">

        <!-- Pomodoro panel (only shows if pomodoro is running) -->
        <div class="panel panel-default" ng-show="pomodoro.pomoState == 'running' || pomodoro.pomoState == 'finished'">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="lead">
                            <span ng-show="pomodoro.pomoState == 'finished'"><strong>Pomodoro Complete!</strong></span>
                            <span ng-show="pomodoro.pomoState == 'running'">Running Pomodoro...</span>
                            <br/><small><em>{{ pomodoro.activePomoTodo.text }}</em></small>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <button type="button"
                                    class="btn btn-success"
                                    tooltip="Submit Pomodoro"
                                    tooltip-placement="left"
                                    ng-show="pomodoro.pomoState == 'finished'"
                                    ng-click="pomodoro.submitPomo()">
                                Submit
                            </button>
                            <button type="button"
                                    class="btn btn-danger"
                                    tooltip="Cancel Pomodoro"
                                    tooltip-placement="left"
                                    ng-click="pomodoro.cancelPomo()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <timer interval="1000" autostart="false" countdown="2" finish-callback="pomodoro.pomoFinished()">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width: {{ ((millis/1000)/2) * 100}}%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-muted pull-right">
                                <em>
                                    {{ minutes }} minute{{ minutesS }} and {{ seconds }} second{{ secondsS }} remain.
                                </em>
                            </p>
                        </div>
                    </div>
                </timer>
            </div>
        </div>
        <!-- End of Pomodoro panel -->

        <!-- BREAK Panel - shows during the five minute break between each pomodoro -->
        <div class="panel panel-default" ng-if="pomodoro.pomoState == 'break' || pomodoro.pomoState == 'break-finished'">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7">
                        <p class="lead" ng-show="pomodoro.pomoState=='break'">Taking a break. <br/>
                            <small><em>Have a five minute break before your next Pomodoro.</em></small>
                        </p>
                        <p class="lead" ng-show="pomodoro.pomoState=='break-finished'"><strong>Break Over! </strong><br/>
                            <small><em>It's time to begin another Pomodoro.</em></small>
                        </p>
                    </div>
                    <div class="col-xs-5">
                        <div class="pull-right" ng-show="pomodoro.pomoState == 'break-finished'">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="pomodoro.startPomo(pomodoro.activePomoTodo)">
                                <span class="fa fa-refresh fa-spin"></span> Repeat Previous
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="pomodoro.closeBreakPanel()">

                                <span class="fa fa-close"></span>
                            </button>
                            <blockquote ng-show="pomodoro.pomoState == 'break'">
                                <p>
                                    {{ currentQuote.quote }}
                                </p>
                                <footer>{{ currentQuote.by }}</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <timer interval="1000" countdown="5" finish-callback="pomodoro.finishBreak()">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width: {{ ((millis/1000)/5) * 100}}%">
                        </div>
                    </div>
                    <p class="muted">{{ minutes }} minute{{ minutesS }} and {{ seconds }} second{{ secondsS }} remaining before next Pomodoro.</p>
                </timer>
            </div>

        </div>
        <!-- End of Break panel -->
        <div class="text-center" ng-if="todos.length == 0 && !editor.todo.text">
            <span class="fa fa-check-square-o fa-5x" style="margin-top: 60px"></span><br/>
            <p class="doit-font" style="font-size: 28px;">You're all done for now!</p>
        </div>

        <!-- List of TODOs -->
        <ul class="list-group">
            <!-- Placeholder for new to-do -->
            <li class="list-group-item list-group-item-warning todo-body" ng-if="editor.todo.text.length > 0">
                <div class="row">
                    <div class="col-xs-8">
                        <span class="done-{{editor.todo.done}} doit-item">{{editor.todo.text}}</span>
                    </div>
                    <div class="col-xs-4">
                        <div class="pull-right">
                            <span ng-show="!editor.new">
                                <span class="fa fa-spinner fa-spin"></span> <small class="text-muted">Editing...</small>
                            </span>
                            <span ng-show="editor.new">
                                <span class="fa fa-spinner fa-spin"></span> <small class="text-muted">Previewing new task...</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="tags-list">
                            <!-- Tags within a single to-do -->
                            <span ng-repeat="tag in editor.todo.tags" class="tag-item"><span class="fa fa-tag"></span> {{ tag.text }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-muted pull-right" ng-if="editor.todo.due">
                           <span class="fa fa-clock-o"></span> {{ editor.todo.due | date:'short' }}
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="editor.todo.note">
                    <div class="todo-additional-info">
                        <div class="col-xs-6">
                            <div class="well" btf-markdown="editor.todo.note">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            Another col
                        </div>
                    </div>
                </div>
            </li>
            <!-- End of placeholder -->
            <!-- TODO: Should be a directive -->
            <li ng-repeat="todo in todos | filter:{ text: todoSearch } | orderBy:'!created'"
                ng-if="todo.deleted == false"

                class="list-group-item todo-body">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="checkbox" ng-model="todo.done"/>
                        <a ng-click="expanded[$index] = !expanded[$index]" style="color: inherit;">
                            <span class="done-{{todo.done}} doit-item lead" ng-bind-html="todo.text | highlight:todoSearch"></span><br/>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-click="pomodoro.startPomo(todo)"><a><span class="pointer">Start Pomo</span></a></li>
                                <li class="divider"></li>
                                <li ng-click="editTask(todo, $index)"><a><span class="pointer">Edit Task</span></a></li>
                                <li ng-click="deleteTodo(todo)"><a><span class="pointer">Delete Task</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="tags-list">
                            <!-- Tags within a single to-do -->
                            <span ng-repeat="tag in todo.tags" class="tag-item"><span class="fa fa-tag"></span> {{ tag.text }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-muted pull-right" ng-if="todo.due">
                            <span class="fa fa-clock-o"></span> {{ todo.due | date:'short' }}
                        </p>
                    </div>
                </div>
                <div class="row" collapse="!expanded[$index]">
                    <div class="todo-additional-info">
                        <div class="col-xs-6">
                            <div class="well" btf-markdown="todo.note">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <span class="label label-default">{{ todo.pomodoros.length }}</span> Pomodoros complete.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End of TODOs list -->

    </div>


</div>
