
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h1 class="page-header doit-brand doit-brand-login text-center">FocusOn</h1>
        <p class="lead text-center">A simple but powerful system to drastically improve your productivity.</p>
        <div class="panel panel-default doit-login-box">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
                            <span class="fa fa-google-plus fa-lg"></span> Sign in with Google
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
